@model CuaHangThietBiDienTu.Context.KHACHHANG

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section-pagetop bg-gray">
    <div class="container">
        <h2 class="title-page">Tài khoản của tôi</h2>
    </div> <!-- container //  -->
</section>


<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <nav class="list-group">
                    <a class="list-group-item " href="@Url.Action("Detail",new { makh = Session["MAKH"] })"> Thông tin chung </a>
                    <a class="list-group-item" href="@Url.Action("DonDatHang")"> Đơn hàng </a>
                    <a class="list-group-item active" href="@Url.Action("Edit")">Cài đặt thông tin</a>
                </nav>
            </aside> <!-- col.// -->
            <main class="col-md-9">

                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "row" }))
                        {
                            @Html.AntiForgeryToken()

                        <div class="col-md-9">


                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.MAKH)

                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Họ và tên</label>
                                    <div>
                                        @Html.EditorFor(model => model.TENKH, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TENKH, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <label>Địa chỉ</label>
                                    <div>
                                        @Html.EditorFor(model => model.DIACHI, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Số điện thoại</label>
                                    <div>
                                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <label>Email</label>
                                    <div>
                                        @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="col form-group">
                                    <label>CMND</label>
                                    <div>
                                        @Html.EditorFor(model => model.CMND, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CMND, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <label>Tên tài khoản</label>
                                    <div>
                                        @Html.EditorFor(model => model.TAIKHOAN, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.TAIKHOAN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            @Html.HiddenFor(model => model.MATKHAU)

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input onclick="Save_alert()" type="submit" value="Lưu" class="btn btn-primary mr-2" id="save_info" />
                                    <input type="submit" value="Đổi mật khẩu" class="btn btn-light" />
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>



            </main> <!-- col.// -->
        </div>
    </div>

</section>

<script>
    function Save_alert() {
        alert("Đã lưu")
    }
</script>