@model CuaHangThietBiDienTu.Context.THUONGHIEU

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 style="text-align:center">Thêm thương hiệu</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Thương hiệu</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.MATH, "Mã thương hiệu", htmlAttributes: new { @class = "control-label col-md-2" })
                <input type="text" class="form-control ml-2" readonly value="@ViewBag.MATH" name="MATH" style="width:82%">
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TENTHUONGHIEU, "Tên thương hiệu", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TENTHUONGHIEU, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TENTHUONGHIEU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.QUOCGIA, "Quốc gia", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.QUOCGIA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QUOCGIA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Trở về trang danh sách", "Index")
    </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
