@model CuaHangThietBiDienTu.Context.KHACHHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Xóa khách hàng</h2>


<div class="container">
    <h3>Bạn có chắc muốn xóa chứ?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENKH)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            CMND
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

        <dt>
            Tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAIKHOAN)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATKHAU)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về trang danh sách", "Index")
        </div>
    }
</div>
