@model CuaHangThietBiDienTu.Context.NHANVIEN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h2 style="text-align:center">Xóa nhân viên</h2>
    <h3>Bạn có chắc muốn xóa?</h3>
    <div>
        <hr />
        <div class="dl-horizontal">
            <dt>
                Họ và tên
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TENNV)
            </dd>
            <dt>
                Địa chỉ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DIACHI)
            </dd>
            <dt>
                Số điện thoại
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SDT)
            </dd>
            <dt>
                Email
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EMAIL)
            </dd>
            <dt>
                CMND
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CMND)
            </dd>
            <dt>
                Chức vụ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CHUCVU)
            </dd>
            <dt>
                Giới tính
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GIOITINH)
            </dd>
            <dt>
                Tài khoản
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TAIKHOAN)
            </dd>
            <dt>
                Mật khẩu
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MATKHAU)
            </dd>
            <dt>
                ISADMIN
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISADMIN)
            </dd>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color container">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về trang danh sáchh", "Index")
        </div>
    }
</div>
